/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    #aboutArea::after {
        height: 78%;
    }
    #aboutArea .topAbout .topImage {
        right: 81px;
    }
    #tourGuides .tourGuidesSlider .owl-nav .owl-prev {
        left: -38px;
    }
    #tourGuides .tourGuidesSlider .owl-nav .owl-next {
        right: -38px;
    }
    #saftyPriority .saftyPriorityContet p {
        width: 81%;
        margin: 0 auto;
    }
    #aboutArea .aboutFeaterArea .aboutFeaterBox {
        min-height: 369px;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
   
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    #tourGuides .tourGuidesSlider .owl-nav .owl-prev {
        left: -20px;
    }
    #tourGuides .tourGuidesSlider .owl-nav .owl-next {
        right: -20px;
    }
    #banarArea .banarConten .banarLeft h3 {
        font-size: 54px;
    }
    #banarArea .banarConten .banarLeft p {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 26px;
    }
    #aboutArea:after {
        height: 84%;
    }
    #aboutArea .topAbout>p {
        font-size: 18px;
    }
    #aboutArea .topAbout .topImage {
        right: -9px;
    }
    #aboutArea .aboutFeaterArea .aboutFeaterBox {
        min-height: 369px;
    }
    #aboutArea .aboutQuoteBottom h4 {
        font-size: 29px;
    }
    #saftyPriority .saftyPriorityContet p {
        width: 81%;
        margin: 0 auto;
    }
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    #banarArea .banarConten .banarLeft h3 {
        font-size: 36px;
    }
    #banarArea .banarConten .banarLeft p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 13px;
    }
    #banarArea .banarConten .baarRightForm .rightFormcontainer .formBox {
        width: 100%;
        margin-top: 14px;
    }
    #banarArea .banarConten .baarRightForm .rightFormcontainer .top h3 {
        font-size: 20px;
    }
    #banarArea .banarConten .baarRightForm .rightFormcontainer .top h4 {
        font-size: 15px;
        margin-top: 6px;
    }
    #aboutArea:after {
        height: 91%;
    }
    #aboutArea .topAbout .topImage img {
        width: 65%;
    }
    #aboutArea .topAbout h3 {
        font-size: 37px;
    }
    #aboutArea .topAbout>p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 11px;
    }
    #aboutArea .topAbout .feater p{
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 11px;
    }
    #aboutArea .topAbout .topImage {
        right: -93px;
    }
    #aboutArea .aboutFeaterArea .aboutFeaterBox {
        margin-bottom: 30px;
    }
    #aboutArea .aboutQuoteBottom h4 {
        font-size: 19px;
    }
    #aboutArea .aboutQuoteBottom h4 img {
        margin-left: 8px;
        height: 48px;
    }
    #tourGuides .tourGuidesSlider .owl-nav .owl-prev {
        left: -30px;
    }
    #tourGuides .tourGuidesSlider .owl-nav .owl-next {
        right: -30px;
    }
    #faceBookQuoteBox {
        background-position: 32%;
    }



}


@media (max-width: 767px) {
}

/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    #headerTop .menuarea nav ul li a {
        padding: 0px 10px;
    }
    .tourGuidesSlider{
        display: none !important;
    }
    #banarArea .banarConten .banarLeft h3 {
        font-size: 46px;
    }
    #banarArea .banarConten .banarLeft p {
        font-size: 16px;
        line-height: 24px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    #banarArea .banarConten .baarRightForm .rightFormcontainer .top h3 {
        font-size: 22px;
    }
    #banarArea .banarConten .baarRightForm .rightFormcontainer .top h4 {
        font-size: 16px;
        margin-top: 6px;
    }
    #aboutArea .topAbout .topImage {
        position: relative;
        top: 0px;
        right: 0;
        margin-top: 40px;
    }
    #aboutArea .aboutshapeTop img {
        width: 163%;
    }
    #aboutArea:after {
        height: 92%;
    }
    #aboutArea .aboutshapeTop {
        position: absolute;
        width: 100%;
        top: 20px;
        left: -72px;
    }
    #aboutArea {
        padding: 119px 0px 60px 0px;
    }
    #aboutArea .topAbout h3 {
        font-size: 38px;
    }
    #aboutArea .topAbout>p {
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    #aboutArea .topAbout .feater p{
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    #aboutArea .aboutFeaterArea .aboutFeaterBox {
        padding: 21px 9px;
        min-height: 366px;
        margin-bottom: 22px;
    }
    #aboutArea .aboutQuoteBottom h4 {
        font-size: 19px;
    }
    #aboutArea .aboutQuoteBottom h4 img {
        margin-left: 0px;
        display: block;
        margin: 0 auto;
        height: 58px;
        margin-top: 12px;
    }
    #faceBookQuoteBox {
        background-position: 32%;
    }
    #moreVisitOption .moreVisitOptionContent ul li {
        margin: 0px 7px;
    }
    #moreVisitOption .moreVisitOptionContent ul li a {
        width: 215px;
    }
    #tourGuides .tourGuidesSliderMobileSlider{
        display: block !important;
    }
}



/* Extra small Device. */
@media (max-width: 575px) {
    .tourGuidesSlider{
        display: none !important;
    }
    #headerTop .menuarea{
        margin-top: 20px;
    }
    #headerTop .menuarea nav ul li a {
        font-size: 15px;
        padding: 0px 15px;
    }
    #banarArea .banarConten .banarLeft h3 {
        font-size: 41px;
    }
    #banarArea .banarConten .banarLeft p {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 22px;
    }
    #banarArea .banarConten .baarRightForm .rightFormcontainer .top h4 {
        font-size: 17px;
        margin-top: 4px;
    }
    #banarArea .banarConten .baarRightForm .rightFormcontainer .formBox {
        width: 100%;
    }
    #aboutArea .topAbout .topImage {
        position: relative;
        top: 0px;
        right: 0;
    }
    #aboutArea .aboutshapeTop img {
        width: 203%;
        position: relative;
        left: -58px;
    }
    #aboutArea:after {
        height: 93%;
    }
    #aboutArea {
        padding: 109px 0px 60px 0px;
    }
    #aboutArea .topAbout {
        text-align: center;
    }
    #aboutArea .topAbout h3 {
        font-size: 68px;
    }
    #aboutArea .topAbout>p {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 15px;
        text-align: left;
        padding-left: 30px;
    }
    #aboutArea .topAbout .feater p{
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 15px;
        text-align: left;
        padding-left: 30px;
    }
    #aboutArea .topAbout .feater {
        padding-left: 0px;
        margin-bottom: 15px;
    }
    #aboutArea .topAbout .topImage img {
        width: 81%;
        margin-top: 12px;
    }
    .mobileSliderABout{
        margin-left: 0px !important;
    }
    #aboutArea .aboutFeaterArea .aboutFeaterBox span img {
        width: auto;
        margin: 0 auto;
    }
    #aboutArea .aboutFeaterArea .aboutFeaterBox {
        box-shadow: 0px 3px 15px #66666629;
        padding: 24px 11px;
    }
    .mobileSliderABout .owl-nav .owl-prev{
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .mobileSliderABout .owl-nav .owl-next{
        position: absolute;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        font-size: 20px;
    }
    .mobileSliderABout .owl-dots{
        text-align: center;
        margin-top: 20px;
    }
    .mobileSliderABout .owl-dots .owl-dot{
        height: 10px;
        width: 10px;
        background: #666;
        display: inline-block;
        margin: 0px 7px;
        border-radius: 50%;
    }
    .mobileSliderABout .owl-dots .owl-dot.active{
        background: #A6192E;
    }

    #aboutArea .aboutQuoteBottom h4 img {
        margin-left: 45px;
        display: block;
        margin: 0 auto;
        height: 80px;
        margin-top: 10px;
    }
    #aboutArea .aboutQuoteBottom h4 {
        font-size: 20px;
        line-height: 27px;
    }
    #aboutArea .aboutQuoteBottom {
        padding: 20px 28px;
    }
    #faceBookQuoteBox {
        min-height: 370px;
        background-position: 36%;
        position: relative;
        z-index: 1;
    }
    #faceBookQuoteBox:after{
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: "";
        position: absolute;
        background: rgba(255, 255, 255, 0.74);
        z-index: -1;
    }
    #faceBookQuoteBox .faceBookQuoteBoxContnt h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    #faceBookQuoteBox .faceBookQuoteBoxContnt p {
        font-size: 15px;
        color: #333;
        margin-bottom: 15px;
        line-height: 23px;
    }
    #faceBookQuoteBox .faceBookQuoteBoxContnt h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    #saftyPriority .saftyPriorityContet h3 {
        margin: 29px 0px 22px 0px;
    }
    #moreVisitOption .moreVisitOptionContent ul li a {
        margin-bottom: 13px;
    }
    #bookReservation .bookReservationContent h3 {
        font-size: 13px;
    }
    #bookReservation {
        padding: 26px 0px;
    }
    #footer {
        padding: 55px 0px;
        background: #fff;
    }
    #moreVisitOption {
        padding: 70px 0px 37px 0px;
    }
    #tourGuides .tourGuidestop h3 {
        font-size: 18px;
    }
    #tourGuides .tourGuidesSliderMobileSlider{
        display: block !important;
    }
    #tourGuides {
        min-height: auto;
    }
}

@media only screen and (min-width: 400px) and (max-width: 575px) {
    .tourGuidesSliderMobileSlider .tourGuidesSliderMobileSliderItem .imageBox {
        position: relative;
        margin: 0 auto;
        width: 87%;
    }
}

@media (width: 1024px) {
    #tourGuides .tourGuidesSlider .tourGuidesSliderItemBox .imageBox .hoverContent {
        padding: 34px 45px;
    }
}






















